<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="estilos/style_login.css">
</head>
<body>
    <div id="conteiner">
        <h1>Login</h1>
        <div v-show="acesso_negado" class="acesso_negado" @click="acesso_negado = false">Usuário e/ou senha incorreto(s)</div>
        <form @submit.prevent="handle_submit_login">
            <div class="conteiner_input">
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" v-model="usuario">
            </div>

            <div class="conteiner_input">
                <label for="senha">Senha</label>
                <input type="password" name="senha" v-model="senha">
            </div>

            <input type="submit" placeholder="Enviar">
        </form>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    usuario: '',
                    senha: '',
                    acesso_negado: false
                }
            },
            methods: {
                async handle_submit_login()
                {
                    const promise = await fetch('http://localhost:5000/login', {
                        method: 'POST',
                        body: new URLSearchParams({
                            usuario: this.usuario,
                            senha: this.senha,
                        })
                    })
                    const resp = await promise.json()
                    console.log(resp)
                    if (resp.status == 'error') {
                        this.acesso_negado = true
                        return
                    }
                    localStorage.setItem('token', resp.token)
                    window.location.href = `file:///C:/Users/roger/OneDrive/%C3%81rea%20de%20Trabalho/recadastramento/opcoes.html`
                }   
            }
        })

        const appVM = app.mount('#conteiner')
    </script>
</body>
</html>